# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore build artifacts
/dist/
/build/
/out/

/node_modules/
/vendor/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local

# Ignore temporary files
*.tmp
*.swp